

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'GT-Sectra-Fine-Medium', serif;
}

body {
    min-height: 100vh;
    background: #171a21; /* cor da main */
}

header {
    position: absolute;
    width: 100%;
    height: 70px;
    background: transparent;  /* Cor de fundo do Header */
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo */

header .logo {
    color: #fff; /* cor da Logo */
    font-size: 1.8em; /* tamanho da logo */
    font-weight: 600; /* o quão nitido ficará a logo */
    text-decoration: none; /* tira a linha de baixo */
    position: relative;
    display: flex;
    top: -4px;
    left: 45px;
}

/* ----- */

header ul {
    position: relative;
}

header ul li {
    position: relative;
    list-style: none;
    float: left;
    letter-spacing: 3px; /* da mais espaço entre as letras */
}

header ul li a {
    color: #fff;
    font-size: 0.7em;
    padding: 38px 15px;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    transition: 0.9s;
}


header ul li:not(:nth-child(4)) a:hover { /* o :not nth child é para quando colocar a seta em cima do login não mudar de cor */
    color: rgb(161, 26, 161); /* quando colocar a seta em cima ficará vermelho */
}

header ul li ul {
    position: absolute; /* colocando o absolute as coisas escritas em baixo do ''Português'' irão ficar em baixo */
    left: 0;
    width: 200px;
    display: none; /* Deixara invisivel os dropdowns */
}

header ul li:hover ul {
    display: block; /* Quando colocar a seta em cima irá aparecer os dropdowns */
}

header ul li ul li {
    position: relative;
    width: 100%;
    border: 1px solid rgb(161, 26, 161);
    background-color: black;
}

/* Login */

.Login {
    background: rgb(161, 26, 161);
    display: block;
    position: relative;
    font-weight: normal;
    z-index: 2;
    padding: 1rem 1.5rem 1rem 2rem;
    border-radius: 75px;
    top: 22px;
    right: 5px;
}

/* ----- */

.nav_baixo {
    position: absolute;
    top: 4.3rem;
    width: 100%;
    height: 4rem;
    left: 0;
    background: rgba(245, 245, 245, 0.219);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
}

/* Icones */

.socials a {
    color: white;
    font-size: 25px;
    letter-spacing: 50px;
}

#facebook:hover {
    color: #1877f2;
}

#twitter:hover {
    color: #1da1f2;
}

#twitch:hover {
    color: #6a41a5;
}

#youtube:hover {
    color: red;
}

#instagram:hover {
    background: -moz-linear-gradient(top, #e72c83 0%, #a742c6 100%);
    background: -webkit-linear-gradient(top, #e72c83 0%, #a742c6 100%);
    background: linear-gradient(to bottom, #e72c83 0% #a742c6 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#discord:hover {
    color: #7289da;
}

/* ----- */

/* Footer */

.footer_wrapper {
    position: fixed;
    bottom: 0px;
    height: 150px;
    width: 100%;
    background: rgba(245, 245, 245, 0.219);
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.socials2 a {
    font-size: 20px;
    display: inline-block;
    margin: 5px;
    width: 35px;
    height: 35px;
    border: 1.3px solid red;
    color: white;
    padding: 7px;
    border-radius: 50px;
}

.socials2 a:hover {
    color: rgb(161, 26, 161);
}


@media (max-width: 992px) {

    header {
        padding: 10px 20px;
    }

    header nav {
        position: absolute;
        width: 100%;
        top: 95px;
        left: 0;
        background: black;
        display: none;
    }

    header.active nav {
        display: initial;
    }

    header nav ul li {
        width: 100%;
    }

    header nav ul li ul {
        position: relative;
        width: 100%;
        left: 0;
    }

    header .logo {
        position: relative;
        left: 45%;
        top: 10px;
    }

    .menuToggle {
        position: relative;
        width: 40px;
        height: 50px;
        cursor: pointer;
        display: flex;
        top: 10px;
        right: 900px;
        justify-content: center;
        align-items: center;
    }
    .menuToggle::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        background: #fff;
        transform: translateY(-12px);
        box-shadow: 0 12px #fff;
    }
    .menuToggle::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        background: #fff;
        transform: translateY(12px);
    }
    header.active .menuToggle::before {
        transform: rotate(45deg);
        box-shadow: 0 0 #fff;
    }
    header.active .menuToggle::after {
        transform: rotate(315deg);
    }
    .Login {
        padding: 30px;
        top: -3px;
        padding: 1.8rem 1.5rem 1rem 2rem;
    }
    .nav_baixo {
        position: initial;
    }
    .footer_wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: 0px;
        height: 150px;
        width: 62rem;
    }
}